*{
    padding: 0;
    margin: 0;
}
#navigasi{
    background-color: #082032;
    align-items: center;
    padding: 32px;
    display: flex;
    color: #FF4C29;
      
}

#navigasi a {
    color: #FF4C29;
    margin-right:40px;
    text-decoration: none;  
}

#judul{
    margin-right:700px;   
}

#navigasi a:hover{
    color: white;
}
#sec1{
  background-color: #2C394B;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#prof{
    border-radius:50%;
    object-fit: cover;
    margin-bottom: 60px;
}
#name{
    margin-bottom: 10px;
    font-size: 60px;

}
#portfolio{
    background-color: #334756;
    padding: 80pt;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: auto;
}
#portfolio img{
    margin: 12px;
    object-fit: cover;
    
}
#sec3{
    background-color: #334756;
    margin-bottom: 30pxs;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px;

}
.judul{
    font-size: 60px;
    align-items: center;
    margin-bottom: 60px;

    
}
#paragraf1{
    width: 300px;
}
#paragraf2{
    width: 100px;
}
#sec4{
    
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  form{
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      
  }
  input[type=text], input[type=email]{
      height: 50px;
      margin: 8px 0;
      border: none;
      border-bottom: 2px solid #9b59b6;
  }
  form input{
      text-align: left;

  }
  form button{
      background-color: rgb(162, 0, 255);
      border: none;
      width: 100px;
      color: #082032;
      padding: 16px 32px;
      margin-top: 50px;
      cursor: pointer;
  }
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #9b59b6;
    resize: none;
  }
  #footeratas{
    background-color: #334756;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    margin-bottom: 0px;
  }
  #fkiri, #fkanan{
      
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  #fkanan{
      margin: 0px;
  }
  #fkiri{
      margin-right: 100px;
      
  }

  #footerbawa{
      padding: 40px;
      align-items: center;
  }

#footerbawa{
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
#alamat{
    color: white;
}
button{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: #9b59b6;
    border: none;
}


